body {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  bottom: 0;
  padding-top: 100px;
  padding-bottom: 180px;
}

label {
  font-weight: 700
}

section {
  /* background-image: radial-gradient(circle at 47% 0%,#ef544b -15%,#282b43 60%); */
  background-image: radial-gradient(circle, #1280e1 0%, #002069 100%);
  padding-bottom: 5px;
  color: white;
}

.col {
  padding: 30px;
  background-color: #dee4ea;
  box-shadow: -1px 0px 20px 14px #e8491e91;
  color: #f8f9fa;
  background-color: rgba(0, 0, 0, .0001) !important;
}

h2, h1 {
  text-align: center;
}

h1 {
  padding-top: 60px;
}
