footer {
  width: 100%;
  /* color: #ffffff; */
  /* background-color: #e8491d; */
  background-color: #f8f9fa;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
