body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 573px;
  height: 446px;
  padding-top: 88px;
  position: relative;
}

#submit {
  float: right;
}

.col {
  padding: 30px;
  background-color: #dee4ea;
  box-shadow: -1px 0px 20px 14px #1e9de891;
  color: #f8f9fa;
  background-color: rgba(0, 0, 0, .0001) !important;
}

section {
  /* background-image: linear-gradient(-180deg, #816BF9 0%, #000 100%); */
  background-image: radial-gradient(circle at 47% 9%, #3e825f, #1a4172);
  height: 737px;
}

h2 {
  text-align: center;
  font-family: 'Passion One', cursive;
}
