body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-bottom: 261px;
  padding-top: 196px;
  height: 746px;
}

label {
  font-weight: 700
}

#reset {
  justify-content: flex-end;
}

#submit {
  float: right;
}

h2 {
  text-align: center;
  font-family: 'Passion One', cursive;
}

section {
  position: relative;
  /* background-image: radial-gradient(circle at 47% 0%, #ef544b -15%, #282b43 60%); */
  background-image: linear-gradient(-180deg, #816BF9 0%, #000 100%);
  height: 746px;
}

.col {
  width: 437px;
  height: 455px;
  padding: 30px;
  background-color: #dee4ea;
  box-shadow: -1px 0px 20px 14px #e51ee891;
  color: #f8f9fa;
  background-color: rgba(0, 0, 0, .0001) !important;
}
